:root {
      --background-blue: #004E98;
      --orange: #FF6700;
      --font-family: "Avenir", sans-serif;
}
    
.dashboard-container {
      display: flex;
      height: 100vh;
}

.navigation-bar {
      display: flex;
      flex-direction: column;
      width: 12%;
      min-width: 150px;
      background-color:white;
      padding-right: 15px;
      padding-top: 15px;
      justify-content: space-between;
}

.nav-group {
      display: flex;
      flex-direction: column;
      align-items: left;
}

.nav-item {
      margin: 6px;
      background-color: var(--background-blue);
      padding: 8px;
      border-radius: 10px;
      color: white;
      min-width: max-content;
      transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;          
}


.nav-item:hover {
      transform: translate(5px);
      cursor: pointer;
      background-color: var(--orange);
}



/* GRID DASHBOARD */

.main-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFDFA;
}

.grid-container {
      display: grid;
      grid-template-columns: 3fr 1fr; /* First column takes 75%, second column takes 25% */
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px;
      width: 98%;
      height: 92%;
      grid-template-areas:
        "item1 item2"
        "item5 item3";
    }
    
    
    .item1 {
      grid-area: item1;
    }
    
    .item2 {
      grid-area: item2;
    }
    
    .item3 {
      grid-area: item3;
    }
    
    .item5 {
      grid-area: item5;
    }
    

.chart-container {
      width: 100%; /* Adjust width as needed */
      height: 100%; /* Adjust height as needed */
}

.grid-item {
      background-color: var(--grid-item-color);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid black;
}


/* DAILY GRID */
.daily-container {
      margin-top: 20px;
      height: 95vh;
      width: 92%;
      display: flex;
      gap: 10px;
}

.daily-flex-col {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px;
}

.daily-flex-col span {
      padding: 20px;
}

.daily-flex-col div {
      font-family: var(--font-family);
      font-size: 2rem;
      align-items: center;
}


.daily-container div { width: 100%; }
.daily-container div:nth-child(2) { margin-right: 15px; }

.daily-container span {
      height: 100%;
      border: 1px solid black;
}

.daily-container table {
      border: 1px solid black;
      font-size: larger;
      overflow-y: auto;
}





.table-container {
/* Styles for the table container inside item9 */
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.item10, .item11, .item12 {
      display: none;
}

select, button {
      margin: 6px;
      padding: 8px;
      width: 93%;
      border-radius: 0;
      text-align: left;
      border: 1px solid black;
      background-color: white;
      color: black;
      font-size: 18px;
}

button {
      transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
 }
    

button:hover {
      cursor: pointer;
      transform: translate(5px);
      cursor: pointer;
      background-color: var(--orange);
      color: white;
}


