:root {
      --background-blue: #004E98;
      --orange: #FF6700;
      --font-family: "Avenir", sans-serif;
}
    
.dashboard-container {
      display: flex;
      height: 100vh;
}

.navigation-bar {
      display: flex;
      flex-direction: column;
      width: 12%;
      min-width: 150px;
      background-color:#FFFDFA;
      padding: 15px;
      justify-content: space-between;
}

.nav-group {
      display: flex;
      flex-direction: column;
      align-items: left;
}

.nav-item {
      margin: 6px;
      background-color: var(--background-blue);
      padding: 8px;
      border-radius: 10px;
      color: white;
      min-width: max-content;
      transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;          
}


.nav-item:hover {
      transform: translate(5px);
      cursor: pointer;
      background-color: var(--orange);
}



/* GRID */

.main-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFDFA;
}

.grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 40% 60% auto;
      grid-gap: 10px;
      width: 98%;
      height: 92%;
}

.chart-container {
      width: 100%; /* Adjust width as needed */
      height: 100%; /* Adjust height as needed */
}

.grid-item {
      background-color: var(--grid-item-color);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid black;
}

.item9 {
      grid-column: span 3; /* Spanning three columns */
      align-items: start;
}

.item4 {
      grid-row: span 2;
}

.table-container {
/* Styles for the table container inside item9 */
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.item10, .item11, .item12 {
      display: none;
}

select, button {
      margin: 6px;
      padding: 8px;
      width: 93%;
      border-radius: 0;
      text-align: left;
      border: 1px solid black;
      background-color: white;
      color: black;
      font-size: 18px;
}

button {
      transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
 }
    

button:hover {
      cursor: pointer;
      transform: translate(5px);
      cursor: pointer;
      background-color: var(--orange);
      color: white;
}