/* BASE */
:root {
      --background-blue: #004E98;
      --font-family: "Avenir", sans-serif;;
}
    

* {
      margin: 0;
      padding: 0;
      font-family: var(--font-family);
}

/* FLEXBOX */

.flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Set the height of the flex-container */
}

.flex-container div {
      width: 100%; /* Remove the 'vw' unit to allow flexbox to work properly */
      display: flex;
      justify-content: center;
      align-items: center;
}

#right {
      height: 100vh;
      background-color: #004E98;
}




/* FORM */

form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      gap: 20px;
}

label { margin-bottom: 8px; }
input { display: block; width: 30vw; }
input, label { font-size: 16px; }

/* Styling the input box sizing to be the same */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] ,
input[type="button"],
button {
      width: 25vw;
      box-sizing: border-box;
      height: 35px;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #ccc;
}

/* Styling the bottom two buttons */
input[type="submit"], input[type="button"] {
      color: white;
      background-color: var(--background-blue);
      border: none;
      cursor: pointer;
      margin-top: 10px;
}

